
create procedure build_rxnorm_ing_list
as

if object_id('RXNORM_INGREDIENT_LIST') is not null drop table RXNORM_INGREDIENT_LIST
CREATE TABLE [dbo].[RXNORM_INGREDIENT_LIST](
	[rxn_ingredient] [varchar](250) NULL
) 

INSERT [dbo].[RXNORM_INGREDIENT_LIST] ([rxn_ingredient]) VALUES (N'RXNORM:9913')

INSERT [dbo].[RXNORM_INGREDIENT_LIST] ([rxn_ingredient]) VALUES (N'RXNORM:732')

INSERT [dbo].[RXNORM_INGREDIENT_LIST] ([rxn_ingredient]) VALUES (N'RXNORM:7417')










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































